/*
Font: 		ED Smither
Style: 		Regular
URL: 		https://youworkforthem.com/font/T16584/ed-smither
Foundry: 	Emyself Design
Foundry: 	https://youworkforthem.com/designer/1196/emyself-design
Copyright:	
Version: 	18
Created:	April 08, 2026
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'EDSmither-Regular';
	src: url('ed-smither-regular.woff2') format('woff2'),
	     url('ed-smither-regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
