@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030712; /* gray-950 */
  --foreground: #f9fafb;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes bg-spin {
  to { transform: rotate(360deg); }
}
